* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: grey;
  width: 100%;
  padding: 40px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.question-card {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 20px;
  margin: 40px;
  background-color: white;
  position: relative;
}
.bookmark-corner {
  width: 80px;
  height: 80px;
  position: absolute;
  right: -20px;
  top: -35px;
  background-color: white;
}

.tags {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.question-number {
  text-align: center;
}

.question-text {
  color: green;
  text-align: center;
  margin-block: 20px;
}

.button {
  background-color: white;
  color: black;
  padding: 5px 5px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}

footer {
  background-color: grey;
  width: 100%;
  padding: 40px;
}

.home,
.bookmark,
.profile {
  width: 80px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: row;
  margin: 0px;
}
